@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background: #c0c9ee;

}

header {
  height: 230px;
}


.cabecalho {
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 100;
  align-items: center;
  justify-content: space-between;
  background-color: #fff3e4;
  border-radius: 12px;
  padding: 15px 30px;
  margin: 50px;
  max-width: 1800px;
  box-sizing: border-box;
  margin-top: 200;
}


.cabecalho nav {
  display: flex;
  gap: 30px;
}

.cabecalho2 {
  text-align: center;
}

.cabecalho2 meio {
  justify-content: center;
}

nav a {
  text-decoration: none;
}

nav a:hover {
  color: rgb(91, 133, 189);
}

* {
  box-sizing: border-box
}


.slideshow-container {
  max-width: 1400px;
  position: relative;
  margin: auto;

}


.mySlides {
  display: none;
  width: 1400px;
}


.img3 {
  border: #fff solid 10px;
  border-radius: 20px;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0px 3px 3px 0;
  user-select: none;
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}


.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}


.fade {
  animation-name: fade;
  animation-duration: 1.0s;
}



@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

.quadrado {
  margin: 0;
  width: 1908px;
  height: 1600px;
  background: #A2AADB;
  border: #A2AADB solid;
  border-radius: 4%;
  box-shadow: 0px 20px 30px #000;
  margin-left: 0px;
}



.abaixo {
  text-align: center;
  font-size: 20px;
  color: #898AC4;
}

.final {
  width: 1906px;
  height: 500px;
  background: #898AC4;
  border: #898AC4 solid 06px;
  border-radius: 15px;
  margin-top: -65px;
  box-shadow: 0px 20px 30px #000;
}

.meninas {
  width: 500px;
  height: auto;
  margin-left: 190px;
  margin-top: 100px;
  border: #fff solid 4px;
  border-radius: 44px;
  box-shadow: 0px 20px 30px #000;
}

.textinFinal {
  color: #fff;
  font-size: 70px;
  margin-left: 800px;
  margin-top: -160px;
}

